.Box {
    background-color: var(--background-light);
    display: inline-block;
    padding: var(--gap);
    box-shadow: 1px 1px 1px #e1e1e1;
    margin: var(--gap);
    min-width: 150px;
    text-align: center;
}