.Grid {
    height: 100%;
    display: grid;
}

.Grid.rows {
    grid-template-rows: 40px 1fr;
}

.Grid.rows > :nth-child(1) {
    background-color: var(--primary-color);
    color: #fff;
    padding: 0 var(--gap);
}


.Grid.cols {
    grid-template-columns: minmax(120px, 20%) 1fr;
}

.Grid.cols > :nth-child(1) {
    background-color: var(--background-dark);
    color: #333;
}

