.Btn {
    background-color: var(--accent);
    color: var(--text-color-alter);
    padding: var(--gap-m) var(--gap);
    border: none;
    min-width: 120px;
}

.Btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.Btn:active {
    opacity: 0.9;
}