.Dropdown {
    position: relative;
}

.Dropdown > .header {
    background-color: var(--background);
    border: 1px solid var(--border);
    padding: var(--gap-m) var(--gap);
}

.Dropdown > .header:hover {
    background-color: var(--background-light);
    cursor: pointer;
    opacity: 0.8;
}

.Dropdown > .header:active {
    opacity: 0.9;
}

.Dropdown > .list {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff;
    min-width: 100%;
    border: 1px solid var(--border);
    box-sizing: border-box;
    border-top: 2px solid var(--border);
}

.Dropdown > .list li {
    border-bottom: 1px solid var(--border);
}   

.Dropdown > .list li:hover {
    background-color: var(--background-light);
    cursor: pointer;
}   

.Dropdown > .list li:active {
    opacity: 0.7;
}   