html, body, #root, .App {
    height: 100%;
}

body {
    margin: 0;
}

body, input, textarea {
    font-family: var(--font-family);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.active {
    color: var(--accent);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    padding: var(--gap-s) var(--gap);
}