:root {
    --primary-color: #292961;
    --background: #fff;
    --background-dark: #f1f1f1;
    --background-light: #d7d7d7;
    --border: #a1a1a1;

    --accent: #1068BE;

    --gap: 20px;
    --gap-m: 15px;
    --gap-s: calc(var(--gap) / 2);

    --text-color: #333;
    --text-color-alter: #fff;

    --font-family: sans-serif;
}

